body{
  background-color:black !important;
  color: aliceblue;
}
.fath {
  display: flex;
  margin: 1px;
}
.inline-form label {
  margin-right: 1%; /* Ajusta el espacio entre el label y el input */
}

#red{
background-color: rgb(235, 86, 86);
}
#green{
  background-color: rgb(19, 187, 19);

}
#re{
  background-color: rgb(19, 187, 19);
}